.Pigcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.Pigcontainer button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.player {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
