* {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
}

h3 {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.btncontainer {
  text-align: center;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  background-color: #460300;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.topping {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 1rem;
  border: 1px solid skyblue;
  border-radius: 50px;
  padding: 20px;
}

.chooseBTN {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #97a1ff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.BTNgroup {
  display: flex;
  gap: 1rem;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 1rem;
}

.list {
  padding-bottom: 2rem;
  border-bottom: 1px dashed skyblue;
}
