* {
  margin: 0;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/background/intro.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* This is Go Crad Into */
.gocard {
  display: flex;
  width: 100vw;
}

.innergo {
  margin: auto;
  width: 400px;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/public/background/Go.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
}

.innergo:hover {
  background-image: url("/public/background/Go.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.text {
  margin-top: 310px;
  color: aliceblue;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}

.goBtn {
  margin-top: 15px;
}

.goBtn button {
  width: 100px;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: greenyellow;
}

.goBtn button:hover {
  width: 110px;
  height: 35px;
  border-radius: 15px;
  border: none;
  background-color: rgb(152, 242, 16);
}

/* Hero Cover Start By Now */

.upperherocontainer {
  margin-left: 14rem;
  width: 54rem;
  height: 6rem;
  margin-top: 2rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
}

.herocard {
  width: 18rem;
  height: 6rem;
}

.hero-img.active {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 70% 35%;
  opacity: 1;
}
.hero-img.inactive {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 70% 35%;
  opacity: 0.3;
}

/* The Animation is start from here */

.Anime {
  width: 54rem;
  height: 18rem;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 14rem;
  margin-top: 2rem;
  border-radius: 20px;
  display: flex;
}

.leftani {
  width: 50%;
  text-align: center;
  border-right: 1px solid black;
}

.rightani {
  width: 50%;
}

.aniimg {
  width: 50%;
  height: 70%;
  padding: 10px;
}

.anititle {
  margin-top: 20px;
  color: aliceblue;
  font-size: 2rem;
  font-variant: small-caps;
  font-weight: bolder;
}

.thelable {
  color: aliceblue;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-left: 45px;
}

.def {
  font-size: 20px;
}

.thelable td {
  padding: 14px;
}

.ans {
  color: red;
}

.ADDBTN {
  display: flex;
  justify-content: end;
  margin-right: 80px;
}

.ADDBTN button {
  width: 6rem;
  height: 2rem;
  background-color: rgb(43, 250, 43);
  color: black;
  border: none;
  border-radius: 10px;
}

.ADDBTN button:hover {
  width: 6.2rem;
  height: 2rem;
  background-color: rgb(105, 255, 105);
  color: black;
  border: none;
  border-radius: 10px;
}

/* Here is lower bracket  */

.lower-bracket {
  width: 54rem;
  height: 7rem;
  margin-left: 14rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
}

.listed-hero {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.small-card {
  width: 4.5rem;
  height: 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper {
  width: 4.5rem;
  height: 4.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: large;
  color: aliceblue;
}

.upper img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.minus {
  position: absolute;
  top: -6px;
  right: -4px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background: crimson;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.undernumber {
  color: aliceblue;
  font-size: 20px;
  font-weight: 700;
  margin-top: 8px;
}

.right-button {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}

.right-button button {
  width: 12rem;
  height: 3rem;
  border-radius: 20px;
  border: none;
  background-color: rgb(43, 250, 43);
  color: black;
  cursor: pointer;
}

.right-button button:hover {
  width: 14rem;
  height: 3rem;
  border-radius: 20px;
  border: none;
  background-color: rgb(87, 254, 87);
  color: black;
  cursor: pointer;
}
